/* File: styles/style.css */
/* styling order layout:

- variables
- tags
- ids
- classes

*/

:root {
  --primary-color:#34373c;       /* Charcoal Gray or Gunmetal */
  --primary-hover: #63c187;       /*  soft, medium-light green with a touch of blue*/
  --secondary-color: #7adfd4;     /* Soft Teal */
  --accent-color: #fcd34d;        /* Warm Amber for Highlights */
  --background-color:linear-gradient(90deg,#5ebfe5 5%,#75a0eb 100%);   /* Light Blue Gradient Background */
  --text-color:#FFFFF9;          /*  Ivory White for Text */
  --success-color: #10b981;       /* Emerald Green (for positive alerts) */
  --error-color: #ef4444;         /* Soft Red (for errors/warnings) */
  --icon-color: #035c51;          /*  deep Teal */
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  padding-top: 75px; /* Adjusted for fixed navbar */
}

h1, h2, h3
{
  color: var(--primary-color);
}

p
{
    color: var(--text-color);
}

.navbar {
  background-color:var(--text-color); 
}
.nav-link{
  color:#050505;
}

.btn-primary {
  background-color:#10B981; /*Emerald Green */
  border-color:#10B981; /*Emerald Green */
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

.btn-accent {
  background-color: var(--accent-color);
  color: black;
}

.btn-accent:hover, .btn-accent:focus {
  border-color: var(--accent-color);
}



#icons-cards{
  box-shadow: var(--error-color);
}
.icon-theme {
  color: var(--icon-color);
}

.icon-theme:hover {
  color: #0f766e; /* Even darker teal */
  transition: color 0.3s ease;
}

.text-secondary {
  color: var(--secondary-color);
}

.alert-success {
  background-color: var(--success-color);
  color: white;
}

.alert-error {
  background-color: var(--error-color);
  color: white;
}

.glass-card {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1); /* semi-transparent */
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

#services-main-title{
  text-align: center;
  padding-top:3rem;
  font-size: 2.5rem;
}

#services-subtitle{
  text-align: center;
  padding-bottom: 2rem;
}

#services-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  gap:0.2rem; /* spacing between grid items */
  padding-left: 15rem;
  padding-right: 15rem;
  background-color: rgba(255, 255, 255, 0.1); /* semi-transparent */

}

.main-card {
  width: 18rem;
  margin: 1rem;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height:200px;
  border-radius: 10px;
}

.cards{
  padding: 1rem;
  text-align: center;
}